@model DENETİM.BASLIKALT

@{
    ViewBag.Title = "BaslikAltEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alt Başlık Ekle</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BASLIKALT</legend>

        <div class="editor-label">
            <span>Alt Başlık No</span>
            @*@Html.LabelFor(model => model.BASLIKALT_NO)*@
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BASLIKALT_NO)
            @Html.ValidationMessageFor(model => model.BASLIKALT_NO)
        </div>

        <div class="editor-label">
            <span>Alt Başlık Ad</span>
            @*@Html.LabelFor(model => model.BASLIKALT_AD)*@
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BASLIKALT_AD)
            @Html.ValidationMessageFor(model => model.BASLIKALT_AD)
        </div>

        <p>
            <input type="submit" value="Kaydet" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Listeye Dön", "ListeBilgileriBaslikAlt")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
